.container {
    width: 45%;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.fullWidth {
    width: 100%;
}

h1, p {
    text-align: center;
}

.movimentos {
    display: flex;
    justify-content: space-between;
}

.movimentos mat-form-field {
    width: 49%;
}

.motivo {
    min-height: 6rem;
    max-height: 10rem;
}

button {
    margin-top: 0.5rem
}

button:hover{
    transform: scale(1.05); 
    box-shadow: 0 5px 15px rgba(75, 75, 76, 0.6);
    z-index: 10;
}

p {
    margin-top: 2rem;
    opacity: .5;
}