<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
       <mat-nav-list class="nav-list">
          <a class="itens mat-elevation-z8" (click)="drawer.toggle()" mat-list-item routerLink="home" routerLinkActive="selected">
             <i class="material-icons icon">home</i>
             Home
          </a>
          <a class="itens mat-elevation-z8" (click)="drawer.toggle()" mat-list-item routerLink="operador" routerLinkActive="selected">
             <i class="material-icons icon">account_circle</i>
             Operador
          </a>
          <a class="itens mat-elevation-z8" (click)="drawer.toggle()" mat-list-item routerLink="gerente" routerLinkActive="selected">
             <i class="material-icons icon">person</i>
             Gerente
          </a>
          <a class="itens mat-elevation-z8" (click)="drawer.toggle()" mat-list-item routerLink="estoque" routerLinkActive="selected">
             <i class="material-icons icon">business</i>
             Estoque
          </a>
          <a class="itens mat-elevation-z8" (click)="drawer.toggle()" mat-list-item routerLink="produto" routerLinkActive="selected">
            <i class="material-icons icon">shopping_cart</i>
            Produto
         </a>
          <a class="itens mat-elevation-z8" mat-list-item (click)="logout()">
             <i class="material-icons icon">logout</i>
             Logout
          </a>
       </mat-nav-list>
    </mat-drawer>
 
    <div class="sidenav-content">
       <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
          <mat-icon>menu</mat-icon>
       </button>
       <router-outlet></router-outlet>
    </div>
 
 </mat-drawer-container>