<div class="container ">
    <mat-card class="mat-elevation-z8 card">
      <mat-card-header>
        <mat-card-title>Varejonline</mat-card-title>
        <mat-card-subtitle>Sistema para Estoque<br><br></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>
            Olá! Seja bem-vindo ao sistema, desenvolvido por mim Riume Carlos.<br /><br><br>
            Esse é um sistema para o processo seletivo da empresa varejonline simulando um simples gerenciamento de estoque desenvolvido em Angular e
            Spring Boot 2. <br><br>
            <br /><br />
            <br /> At.te: Riume Carlos Antunes Andrade.
          </p>
      </mat-card-content>
    </mat-card>
  </div>